.backdrop{
    width: 100%;
    background-color: rgba(43, 43, 43, 0.9);
    position: fixed;
    height: 100%;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s linear;
}
.LoginFormShow{
    visibility: visible;
    opacity: 1;
}