.info{
	width: 70%;
	margin:0  auto ;
display: flex;
justify-content: space-around;
    align-items: baseline;
	flex-wrap: wrap;
}
	.info .info-item{
		margin-bottom: 15px;
		width: 14%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
    }
	.info .info-item p{
		margin-top: 5px;
		font-size: 12px;	}
		.info .info-item i{
		color: #6b7dee;
		font-size: 30px;
	}
	.info .info-item img{
		width: 58px;
	}
	
	@media (max-width: 992px) {
		.info {
			width: 100%;
			padding: 0 15px;
		}
	}
	@media (max-width: 768px) {
		.info .info-item p {
			font-size: 14px;
		}
		.info .info-item i {
			font-size: 25px;
		}
	}
	

